.teaser--wt {
    height: 100%;
    display: block;
}

.teaser--wt.stretch .teaser--wt__mid, .teaser--wt.with-description .teaser--wt__mid {
    margin: 40px auto 0;
}

.ardplayer-video {
    background: #000;
}

.captcha__options .radio label {
    position: absolute;   
}

.nowplaying__sidebar__logo.icon--sr_fernsehen:before {
	background-image: url("../svg/logos/SR_Fernsehen_white.svg")
}

button.ardplayer-btn-sound.toggle:before {
    content: "\e654" !important;
}

.ardplayer-viewport .ardplayer-posterframe .ardplayer-title {
    top: 120px;   
}

.ardplayer-viewport .ardplayer-title {
    max-width: 90%;   
}

@media only screen and (max-width: 480px){
    .ardplayer-viewport .ardplayer-title{
        display:block;
    }
}

.compactnews__newslist {
    min-height: 400px;
}

.ardplayer-audio .ardplayer-viewport .ardplayer-posterimage {
    display: block !important;
}
.ardplayer-untertitel-ebu{
    /*position: absolute;
    width: 100%;
    z-index: 9;*/
    line-height: 25px;
    /*left: 0;
    background-color: #000;*/
}

/* Galerie Buttons Korrektur Hoehe */
.carousel--inplace-gallery.carousel .slider__container__button {
    max-height: 80px;
}
.ardplayer-viewport .ardplayer-posterframe .ardplayer-title {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 120px;
    width: 100%;
    height: 18px;
    overflow: visible;
    font-size: 18px;
    font-size: 1.125rem;
    font-family: "TheSansLT semibold";
    font-weight: 600;
}

* {
    backface-visibility: unset !important;
    -webkit-backface-visibility: unset !important;
}

/* PUSH */
.navigation .icon--settings_24 {
    color: #ffffff;
    font-size: 24px;
    font-size: 1.5rem;
    height: 100%;
    line-height: 41px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    display: table;
}

.safariRequest {
    display: none;
    position: absolute;
    background: #FFFFFF;
    top: 0px;
    margin: auto;
    width: 100%;
    height: 140px;
    z-index: 9999;
    border: 1px solid #ededed;
    padding: 1rem;
    border-top: none;
    -webkit-box-shadow: 0px 10px 33px 0px rgba(0,0,0,0.60);
    -moz-box-shadow: 0px 10px 33px 0px rgba(0,0,0,0.60);
    box-shadow: 0px 10px 33px 0px rgba(0,0,0,0.60);
}

.safariRequest .lnk {
    padding: 5px 10px;
    background: #034694;
    color: #FFFFFF;
    line-height: 30px;
    display: inline-block;
}

.safariRequest .lnk:hover {
    text-decoration: none;
}

.safariRequest .container {
    line-height: 1.5rem;
}

.safariRequest button {
    width: 25%;
    margin-top: 20px;
    float: right;
}


.serviceworker__topics .checkbox {
    display: block;
}

.pushDialog {
    position: fixed;
    top: 0px;
    left: 96px;
    width: 362px;
    min-height: 200px;
    padding: 10px;
    padding-top: 120px;
    background-color: #f1f1f1;
    border: 2px #000438 solid;
    color: #000000;
    z-index: 500;
}

.pushDialog h1 {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.4em;
    margin-bottom: 5px;
    text-align: left;
}

.pushDialog .pushText {
    font-size: 14px !important;
    font-weight: 400;
    line-height: 1.4em !important;
    margin: 10px 0 !important;
    padding: 0 !important;
    text-align: left !important;
}

.pushDialog .pushTopics {
    font-size: 13px !important;
    margin-bottom: 15px;
}

.pushDialog .pushFooter {
    border-top: 1px solid rgba(0,0,0,.1);
    display: block !important;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 0.8em;
    font-weight: bold;
}


